body {
  margin: 0;
  padding: 0;
}

/* * is volgens de linter te sloom, welke kan ik dan beter gebruiken?

/*
Recources:

1. Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
2.

*/

/* Grid Setup */

body {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% auto 10%;
  grid-template-areas:
    ". header ."
    "main main main"
    ". footer .";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  grid-area: header;
  overflow: visible;
}

main {
  grid-area: main;
  /* display: relative; /* Zo kan ik later de banner centreren. */
}

footer {
  grid-area: footer;
}

/**************************/
/**********ALL*************/
/**************************/

/*Grid - never mind: te moeilijk*/
/*
 body {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 7em 20.5em 6.8em 34.2em 27.5em 10.3em 12.5em;
  grid-template-rows: 15% auto 15%;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

*/

/* Ander */

a {
  text-decoration: none;
  color: #EC1B23;
}

h1, h2 {
  color: #EC1B23;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

nav a {
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}
/**************************/
/**********HEADER**********/
/**************************/



header {
  background-color: #EC1B23;
  padding-top: 0.25em;
  position: fixed;
  width: 100%;
}

header img:first-of-type {
  padding-left: 1em;
}

nav img {
  width: 3.75em;
  height: auto;
}

nav a:last-child img {
  width: 2.55em;
  height: auto;
}


nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}


header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content:space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}


nav ul li {
  margin: 0;
  padding: 2em;
}


/**************************/
/**********MAIN************/
/**************************/

main {
  background-color: #F1F1F1;
}

main section:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
}

main section:nth-child(2) h2 {
  color: #222;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding-left: #F1F1F1;
}

main section:nth-child(2) a {
  margin: 0.5em;
  background-color: white;
}

main section:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #F1F1F1;
}

main section:nth-of-type(3) img {
  width: 1.55em;
  margin: 0.45em;
  height: auto;
}

main section:nth-child(2) img{
  width: 20em;
  height: auto;
}

section:first-child img {
  width: 100%;
}

section:nth-child(2) {
  display: flex;
  flex-direction: row;
  background-color: #F1F1F1;
}

main section:nth-child(2) a {
  background-color: white;
}

main section:last-child {
  background-color: purple;
}

/*Button*/

button {
  background-color: #EC1B23;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 1em 2em;
  border: none;
  font-size: 1em;
  margin: 1em;
}



/**************************/
/**********MAIN************/
/**************************/



/* head image */

main section:first-of-type {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: center;
}

/* Other banner */

main section:nth-child(4) {
  display:
}

section div:first-child {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

section div:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  width: 130vw;
  height: 40em;
  overflow: hidden;
}

section div:last-child img {
  width: 10em;
  height: auto;
  margin: 1em;
}
/**************************/
/**********FOOTER**********/
/**************************/
