/* Setting up Grid */

body {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% auto 20%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-template-areas:
    "header header header"
    "main main main"
    ". footer .";
}

img {
  width: 10px;
  height: auto;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* Styling text */

a {
  text-decoration: none;
  color: #EC1B23;
}

h1, h2 {
  color: #EC1B23;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

nav a {
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

/**************************/
/**********HEADER**********/
/**************************/

header {
  background-color: #EC1B23;
  padding-top: 0.25em;
  position: fixed;
  width: 100%;
}

header img:first-of-type {
  padding-left: 1em;
}

nav img {
  width: 3.75em;
  height: auto;
}

nav a:last-child img {
  width: 2.55em;
  height: auto;
}


nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content:space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
  padding: 2em;
}

/**************************/
/**********MAIN************/
/**************************/

main {
  background-color: #F1F1F1;
}

main section:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  overflow-x: hidden;
}

main section:nth-child(2) h2 {
  color: #222;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding-left: #F1F1F1;
}

main section:nth-child(2) a {
  margin: 0.5em;
  background-color: white;
}


main section:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #F1F1F1;
}

main section:nth-of-type(3) img {
  width: 1.55em;
  margin: 0.45em;
  height: auto;
}

main section:nth-child(2) img{
  width: 20em;
  height: auto;
}

main section:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



section:nth-child(2) {
  display: flex;
  flex-direction: row;
  background-color: #F1F1F1;
}

main section:nth-child(2) a {
  background-color: white;
}

main section:last-child {
  background-color: purple;
}

main section:first-of-type {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}


button {
  background-color: #EC1B23;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 1em 2em;
  border: none;
  font-size: 1em;
  margin: 1em;
  max-width: 30em;
  align-self: center;
}


/**************************/
/**********MAIN************/
/**************************/



/* head image */



/* Other banner */



main section:last-child div:first-child {
  position: relative;
  top: 17em;
  left: 5em;
  bottom: auto;
  background-color: white;
  width: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5em;

}

main section:last-child div:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

main section:last-child img {
  width: 10%;
  height: auto;
  padding: 1.25%;
}

/**************************/
/**********FOOTER**********/
/**************************/
